<mat-toolbar color="accent">
    <span>
      <a routerLink="/">
        <span>Sendoc files upload</span>
      </a>
    </span>
    <span>
      <a
        *ngIf="isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/file-upload"
      >
        <span>Upload a file</span>
      </a>
      <a
        *ngIf="isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/multiple-file-upload"
      >
        <span>Upload multiple files</span>
      </a>
      <a
        *ngIf="isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/drag-and-drop"
      >
        <span>Drag and drop files</span>
      </a>
      <a
        *ngIf="isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/posts"
      >
        <span>Posts</span>
      </a>
      <a
        *ngIf="!isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Login</span>
      </a>
      <a
        *ngIf="isAuthenticated"
        (click)="logout()"
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Logout</span>
      </a>
      <a
        *ngIf="!isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/signup"
      >
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>
